<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDomain" value="fabrikam.local" />
    <add key="RootOu" value="DC=fabrikam,DC=local" />
    <add key="ServiceUser" value="svcUser" />
    <add key="ServicePassword" value="password" />
    <add key="SmtpServer" value="mail.fabrikam.com" />
    <add key="HelpDeskEmailAddress" value="helpdesk@fabrikam.com" />
    <add key="HrEmailAddress" value="hr@fabrikam.com" />
    <add key="CanSendEmail" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>